/**
* @name No Game No Life
* @author mat_sama#8767
* @description This is is the first theme by me, created by the creator of https://nawashu.xyz
* @version 1.0.0
*/

:root {

    /* --- Colors --- */
    --principal-color: #908be0;
    --transparent-color: transparent;
    --secondary-color: #2f3136;
    --call-color: rgba(23, 29, 48, 0.5);
    --background-message: rgba(4, 4, 5, 0.15);
  
    /* --- Backgrounds --- */
    --background: url('https://i.pinimg.com/originals/4d/24/8a/4d248a8ff036308e9f3cf917dad428e7.png');
    --banner-background: url("https://cdn.discordapp.com/attachments/994385640709955605/994385943916183582/1b958f26fbb491e40dbbe1341f8a4f21.gif");

}  